<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header')%>
</head>

<body class="container">
    <br>
    <div class="container">
        <h1 class="text-center">Chat</h1>
        <div class="container">
            <div class="col">
                <h2 class="text-center">
                    ChatBox
                </h2>
                <ul id="chat-message">

                </ul>
                <form id="chat-form" action="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="Lucas Marina">
                        <label for="userId">User Id</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="message" name="message" placeholder="Hola Mundo!">
                        <label for="message">Message</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success" type="submit">Enviar</button>
                    </div>
                    <div id="error-form">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function renderChat(objectMessages) {
            let divChat = document.getElementById('chat-message');
            divChat.innerHTML = '';
            console.log(objectMessages)
            let chat = '';
            objectMessages.forEach((mensaje) => {
                if (mensaje.type === 'Sistema') {
                    if (mensaje.message.includes('predeterminado')) {
                        chat += `
                        <li>
                            <span style="color: black;font-weight: bold;">${mensaje.type}:</span>
                            <p>Hola! No he podido comprender tu mensaje. Por favor ingresa una de las siguientes opciones</p>
                            <ul>
                                <li>Stock: Para conocer nuestro stock actual</li>
                                <li>Orden: Para conocer la informacion de tu ultima orden</li>
                                <li>Carrito: Para conocer el estado actual de tu carrito</li>
                            </ul>
                        </li>
                        `
                    } else {
                        chat += `
                        <li>
                            <span style="color: black;font-weight: bold;">${mensaje.type}:</span>
                            <span style="color: green;font-style: italic;">${mensaje.message}</span>
                        </li>`
                    }
                } else if (mensaje.type === 'Usuario') {
                    chat += `<li>
                        <span style="color: blue;font-weight: bold;">${mensaje.type}:</span>
                        <span style="color: green;font-style: italic;">${mensaje.message}</span>
                        </li>
                    `
                }
            })
            divChat.innerHTML = chat;
        }
        function renderErrorChat(errorMessage) {
            let divErrorForm = document.getElementById('error-form');
            divErrorForm.innerHTML = '';
            let errorForm = '';
            errorForm += `
            <div class="alert alert-danger" role="alert">
                <ul>
                    <li>
                        <p>${errorMessage.errorMessage}</p>
                    </li>
                </ul>
            </div>
            `
            divErrorForm.innerHTML = errorForm;
        }

        let inputValuesChat = {
            userId: '',
            message: ''
        }

        let msg = ''
        const inputs = document.querySelectorAll('input');
        // const errores = document.querySelector('#errores');
        // const errores_chat = document.querySelector('#errores_chat');
        // const lista_mensajes = document.querySelector('#lista_mensajes');

        inputs.forEach(input => {
            input.addEventListener('input', e => {
                if ((e.target.name === 'userId') || (e.target.name === 'message')) {
                    inputValuesChat = {
                        ...inputValuesChat,
                        [e.target.name]: e.target.value
                    };
                }
            })
        })
        console.log(inputValuesChat)

        const socket = io();
        socket.emit('message', 'Hola desde el server!');

        document.querySelector('#chat-form').addEventListener('submit', e => {
            e.preventDefault()
            let divErrorForm = document.getElementById('error-form');
            divErrorForm.innerHTML = '';
            if ((inputValuesChat.userId !== '') && (inputValuesChat.message !== '')) {
                // document.querySelector('#errores_chat').style.display = "none";
                const {
                    userId,
                    message
                } = inputValuesChat;
                inputs.forEach(input => {
                    input.value = '';
                });
                socket.emit('messageToServer', inputValuesChat);
                inputValuesChat = {
                    name: '',
                    message: ''
                }
            }
            // else {
            //     document.querySelector('#errores_chat').style.display = "block";
            //     msg = '<p>Mensaje no enviado, complete los siguientes campos</p>';
            //     inputs.forEach(input => {
            //         if (input.value === '') {
            //             switch (input.name) {
            //                 case 'mail':
            //                     msg += `<p> - Correo electronico</p>`;
            //                     document.querySelector('#mail').focus();
            //                     break;
            //                 case 'message':
            //                     msg += `<p> - Mensaje</p>`;
            //                     document.querySelector('#message').focus();
            //                     break;
            //             }
            //         }
            //     })
            //     errores_chat.innerHTML = msg;

            // }
        })

        socket.on('messageToClient', (objectMessages) => {
            let divErrorForm = document.getElementById('error-form');
            divErrorForm.innerHTML = '';
            renderChat(objectMessages)
        })
        socket.on('messageErrorToClient', (objectError) => {
            let divErrorForm = document.getElementById('error-form');
            divErrorForm.innerHTML = '';
            renderErrorChat(objectError)
        })
    </script>
</body>

</html>